html, body, #map-canvas { 
	height: 100%; 
	margin: 0px; 
	padding: 0px;
}

.gm-style-iw div {
	overflow:visible !important;
}

#distances-table {	
	position: absolute;
	height: 30%;
	width: 20%;
	background-color: green;
	color: white;
	font-size: 15px;
	border-style: groove;
	border-width: 5px;
	padding-top: 10px;
	text-align: center;
	opacity: .7;
}